
 /* Elements  */

 footer{
     background-color: rgb(64, 64, 64);
     color: white;
     text-align: center;
     padding: 2% 0% 1% 0%;
 }
 footer #secondLine{
     font-size: 8pt;
 }
 hr{
     margin: 0px;
     height: 10px;
 }

 /* Media  */

@media (max-width: 700px){
    footer #firstLine{
        font-size: 8pt;
    }
}