html, body{
    height: 100%;
}
img{
    height: 40px;
    width: 40px;
    display: inline;
    margin: 20px 35px 20px 35px;
}
p{
    display: inline;
    font-size: 15pt;
    padding-right: 80px;
}
td{
    vertical-align: middle;
    color: white;
}
tr:hover{
    background-color: rgb(93, 93, 93);
}
#imageTd{
    width: 120px;
}
table{
    background-color: rgb(128, 128, 128);
}
body{
    overflow-y: hidden;
}