ol
{
    width: 35%;
    margin : 10pt;
    padding: 15pt 25pt;
    background-color: pink;
}
li
{
    list-style-position: inside;
    background-color: LightCoral;
    margin: 5pt 0pt;
    padding: 0pt 5pt;
    color: white;
}
span
{
    background-color: IndianRed;
}
#q
{
  padding: 0pt 20pt 0pt 5pt; 
}
#w
{
  padding: 0pt 25pt 0pt 5pt; 
}
#e
{
  padding: 0pt 30pt 0pt 5pt; 
}
#r
{
  padding: 0pt 15pt 0pt 5pt; 
}
#t
{
  padding: 0pt 18pt 0pt 5pt; 
}